# Ignore node_modules folder
node_modules/

# Ignore log files
*.log

# Ignore OS-specific files (macOS, Windows)
.DS_Store
Thumbs.db

# Ignore environment variables files
.env

# Ignore .pyc files
__pycache__/
*.pyc

db.sqlite3
*.sqlite3
